body{
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(9, 113, 68));
}
.brandTitle{
  font-family: 'Genos', sans-serif;
  font-size: 2.2em;
  transition: font-size 0.2s, color 0.5s;
}
.brandTitle:hover{
  color:#198754;
}
.nav-link{
  font-family: 'Orbitron', sans-serif;
  transition: font-size 0.2s, color 0.5s;
}
.nav-link:hover{
  color:#198754;
}
.preSearch{
  border-radius:5%;
  text-align: center;
  display:flex;
  vertical-align: middle;
  min-height:50vh;
  color:#b7fed4;
  font-family: 'Genos', sans-serif;
  font-size: 4em;
  align-items:center;
  justify-content:center;
}
.preSearchText{
  margin:auto;
}
.results{
  text-align:center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(9, 113, 68));
}
.card-group{
 display:flex;
 justify-content: space-between;
}
.cardshow{
  border-radius: 10px;
  font-family: 'Genos', sans-serif;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-image: linear-gradient( rgb(0, 0, 0), rgb(16, 74, 51));
}
.card-title{
  color:#ffffff;
  text-decoration: none;
  padding: 0.15em;
}
img{
  padding:0.5em;
}
.card-title{
  font-size:2em;
}
.navbar{
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(9, 113, 68)) ;
}


